body {
    padding: 70px;
}

p {
    cursor: pointer;
    margin: 0px;
    user-select: none;
}

.list-group-item {
    user-select: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.complete {
    text-decoration: line-through;
}